<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class=" logo">
            <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="/crearProducto">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                <li class="barra-busqueda">
                    <form action="../../form-result.php" method="post" target="_blank">
                        <p style="width:90%;">
                            <input type="search" name="busquedaProducto" placeholder="Buscar productos , marcas">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </p>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="contenedor-productos">
        <div>
            <img src="/images/img-home-banner.jpg" class="banner">
        </div>
        <article class="producto">
            <h3>Sección: Basado en tu última visita</h3>
            <h3 class="descripcion">Cafetera Moulinex</h3>
            <img class="imagenes" src="/images/img_cafetera_moulinex.jpg">
            <div class="contenedor-precios">
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>


        <article class="producto">
            <h3>Sección: Basado en tu última visita</h3>
            <h3 class="descripcion">MacBook Pro 2019</h3>
            <img class="imagenes" src="/images/img-macbook-pro-2019.jpg">
            <div class="contenedor-precios">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>

        <article class="producto">
            <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg">
            <h3 class="descripcion">Samsung Galaxy S10</h3>
            <div class="contenedor-precios">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>

        <article class="producto">
            <img class="imagenes" src="/images/img-tv-samsung-smart.jpg">
            <h3 class="descripcion">SmartTv Samsung 43"</h3>
            <div class="contenedor-precios">
                <p class="precio">$23.200</p>
                <p class="descuento">20% off</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>

        <article class="producto">
            <h3>Sección de Ofertas</h3>
            <img class="imagenes" src="/images/img_cafetera_moulinex.jpg">
            <h3 class="descripcion">Cafetera Moulinex</h3>
            <div class="contenedor-precios">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>

        <article class="producto">
            <h3>Sección de Ofertas</h3>
            <img class="imagenes" src="/images/img-macbook-pro-2019.jpg">
            <h3 class="descripcion">MacBook Pro 2019</h3>
            <div class="contenedor-precios">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>

        <article class="producto">
            <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg">
            <h3 class="descripcion">Samsung Galaxy S10</h3>
            <div class="contenedor-precios">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>

        <article class="producto">
            <img class="imagenes" src="/images/img-tv-samsung-smart.jpg">
            <h3 class="descripcion">SmartTv Samsung 43"</h3>
            <div class="contenedor-precios">
                <p class="precio">$23.200</p>
                <p class="descuento">20% off</p>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="credito">
                <a href="#" class="button-credito">
                    <i class="fa-solid fa-credit-card tarjeta-credito"></i>
                </a>
                <p class="centrar">Pagá con tarjeta o en efectivo</h2>
                <p p class="centro">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</ul>
            </div>

            <div class="credito">
                <a href="#" class="button-regalo">
                    <i class="fa-solid fa-gift caja-regalo"></i>
                </a>

                <p class="centrar">Envío gratis desde $ 2.500</h2>
                <p class="centro">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</ul>
            </div>

            <div class="credito">
                <a href="#" class="button-escudo">
                    <i class="fa-solid fa-user-shield persona-escudo"></i>
                </a>

                <p class="centrar">Seguridad, de principio a fin</h2>
                <p class="centro">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                    estás siempre protegid@.</ul>
            </div>
            <div class="copy">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>

</html>